Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: upgrade deps, improve entry file detection (#9)
  .github/workflows/ci.yml
  .lintstagedrc.json
  package-lock.json
  package.json
  src/__tests__/__snapshots__/browser-hydrate-entry-custom-init.expected/assets/vendor.d0fc20d1.js
  src/__tests__/__snapshots__/browser-hydrate-entry.expected/assets/vendor.d0fc20d1.js
  src/__tests__/__snapshots__/browser-hydrate-split-component.expected/assets/vendor.d0fc20d1.js
  src/__tests__/fixtures/browser-basic/__snapshots__/browser-basic.expected/assets/index.css
  src/__tests__/fixtures/browser-basic/__snapshots__/browser-basic.expected/assets/index.js
  src/__tests__/fixtures/browser-basic/__snapshots__/browser-basic.expected/assets/vendor.js
  src/__tests__/fixtures/browser-basic/__snapshots__/browser-basic.expected/index.html
  src/__tests__/fixtures/browser-hydrate-entry-custom-init/__snapshots__/browser-hydrate-entry-custom-init.expected/assets/index.css
  src/__tests__/fixtures/browser-hydrate-entry-custom-init/__snapshots__/browser-hydrate-entry-custom-init.expected/assets/index.js
  src/__tests__/fixtures/browser-hydrate-entry-custom-init/__snapshots__/browser-hydrate-entry-custom-init.expected/assets/vendor.js
  src/__tests__/fixtures/browser-hydrate-entry-custom-init/__snapshots__/browser-hydrate-entry-custom-init.expected/index.html
  src/__tests__/fixtures/browser-hydrate-entry/__snapshots__/browser-hydrate-entry.expected/assets/index.css
  src/__tests__/fixtures/browser-hydrate-entry/__snapshots__/browser-hydrate-entry.expected/assets/index.js
  src/__tests__/fixtures/browser-hydrate-entry/__snapshots__/browser-hydrate-entry.expected/assets/vendor.js
  src/__tests__/fixtures/browser-hydrate-entry/__snapshots__/browser-hydrate-entry.expected/index.html
  src/__tests__/fixtures/browser-hydrate-split-component/__snapshots__/browser-hydrate-split-component.expected/assets/index.css
  src/__tests__/fixtures/browser-hydrate-split-component/__snapshots__/browser-hydrate-split-component.expected/assets/index.js
  src/__tests__/fixtures/browser-hydrate-split-component/__snapshots__/browser-hydrate-split-component.expected/assets/vendor.js
  src/__tests__/fixtures/browser-hydrate-split-component/__snapshots__/browser-hydrate-split-component.expected/index.html
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/isomorphic-basic.expected/assets/template.marko.css
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/isomorphic-basic.expected/assets/template.marko.js
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/isomorphic-basic.expected/assets/vendor.js
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/isomorphic-basic.expected/index.js
  src/__tests__/fixtures/server-basic/__snapshots__/server-basic.expected/index.js
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

Notes added by 'git notes add'
  d85e82c6e694728c441edd400d7e1dc99db59814
Due: none

feat: vite 2.7 support
  package-lock.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  25132b19b3cd9b3b46cbce564b9888e847bf79cd
Due: none

fix: deps upgrades and improve support for loading as esm
  .lintstagedrc.json
  .nycrc.json
  build.ts
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/isomorphic-basic.expected/index.js
  src/__tests__/fixtures/server-basic/__snapshots__/server-basic.expected/index.js
  src/index.ts
  tsconfig.json
Due: eslint -f visualstudio --fix, prettier --write, fixpack

Notes added by 'git notes add'
  38afc12e6ac31d340450ee266d2745d5e8f9849a
Due: none

fix: bump esbuild target to node 14, fixes esm issue
  build.ts
  esbuild-register.js
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  97bc2801d6a6dfbbee8af022783df644ea811128
Due: none

fix: add missing esm exports
  package.json
Due: prettier --write, fixpack

Notes added by 'git notes add'
  f2a689b642b21c7692c1425ad85b010ddee933c3
Due: none

fix: simplify relative path resolving
  .mocharc.json
  build.ts
  esbuild-register.js
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  31c7172e62476bd9f039446050ac5615373371e4
Due: none

fix: ssr compiler register in esm mode
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  62f922f79b66b8df94b8cd720a9340f648710033
Due: none

fix: issue injecting expression when statement was expected
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  880dbf4f7c4c0dfa1085255b0b58bd7a1fd2df71
Due: none

chore: upgrade deps
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-basic/__snapshots__/browser-basic.expected/assets/vendor.js
  src/__tests__/fixtures/browser-hydrate-entry-custom-init/__snapshots__/browser-hydrate-entry-custom-init.expected/assets/vendor.js
  src/__tests__/fixtures/browser-hydrate-entry/__snapshots__/browser-hydrate-entry.expected/assets/vendor.js
  src/__tests__/fixtures/browser-hydrate-split-component/__snapshots__/browser-hydrate-split-component.expected/assets/vendor.js
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/isomorphic-basic.expected/assets/vendor.js
Due: prettier --write, fixpack

chore: upgrade test suite to support dev server
  .mocharc.json
  .nycrc.json
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-basic/package.json
  src/__tests__/fixtures/browser-basic/vite.config.ts
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-basic/dev-server.js
  src/__tests__/fixtures/isomorphic-basic/package.json
  src/__tests__/fixtures/isomorphic-basic/server.js
  src/__tests__/fixtures/isomorphic-basic/test.config.ts
  src/__tests__/fixtures/isomorphic-basic/vite.config.ts
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: upgrade dev deps
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: add missing peer dev dep for node 14
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: improve support for vite 2.8
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  33fd809a1856d2d74edd441a9f038397a279c7aa
Due: none

chore: upgrade dev deps
  package-lock.json
  package.json
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: path normalization for windows
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: optimize normalize path helper, run tests on mac/windows
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: attempt to fix windows ci issue
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

chore: split lint/test workflows
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore: use cross-env for windows script compat
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: fix esm imports for windows in test suite
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: update dev deps
  package-lock.json
  package.json
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: windows support on node 14
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  b0f2975bf5f6e6eb57c406a3405cd6a1b00dccf6
Due: none

fix: populate optimizeDeps options in build mode
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  7f7eb5653bed67f30524caae8e5ec0ec18912621
Due: none

second regex capture to grab hmr rendered marko files
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

style: prettier-ed the code
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: using Dylan's super regex
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: HMR for server only components (#11)
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: update workflow to run lint and test in parallel
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: prettier --write
