Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

feat: print marko compile warnings to the dev/build terminal
  .changeset/surface-warning-diagnostics.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: guide agents from compile output to the marko cheatsheet
  .changeset/compile-error-fix-guide.md
  .changeset/surface-warning-diagnostics.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

refactor: replace the resolve package with resolve-sync for CJS detection
  .changeset/drop-resolve-package.md
  package-lock.json
  package.json
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: require resolve-sync 1.2.2 for windows walk termination
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: issue with explicit side effect modules not tracking downstream
  .changeset/side-effect-import-propagation.md
  .gitignore
  src/__tests__/fixtures/browser-side-effects/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-side-effects/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-side-effects/node_modules/side-effect-lib/index.js
  src/__tests__/fixtures/browser-side-effects/node_modules/side-effect-lib/package.json
  src/__tests__/fixtures/browser-side-effects/node_modules/side-effect-lib/register.js
  src/__tests__/fixtures/browser-side-effects/src/explicit-side-effect.js
  src/__tests__/fixtures/browser-side-effects/src/nested-side-effect.js
  src/__tests__/fixtures/browser-side-effects/src/template.marko
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: persisted pages — compiler option plumb + update/persisted entries
  .changeset/persisted-pages.md
  src/index.ts
  src/link-assets.ts
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: integrate persisted page compilation
  .changeset/persisted-pages.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use changeset publish so releases are tagged and created
  package.json
Due: prettier --write, fixpack

refactor: move agent cheat-sheet fix-guide into @marko/compiler
  .changeset/remove-vite-fix-guide.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: keep CSS sourcemaps for `<style>` blocks in dev
  .changeset/fix-scss-virtual-sourcemap-warning.md
  src/index.ts
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: persisted pages compilation integration (experimental)
  .changeset/persisted-pages.md
  src/index.ts
  src/link-assets.ts
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: require marko@5.39.14 for class-runtime linkAssets support
  .changeset/class-linkassets-min-version.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-link-assets-class/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-link-assets-class/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-link-assets-class/dev-server.mjs
  src/__tests__/fixtures/isomorphic-link-assets-class/server.mjs
  src/__tests__/fixtures/isomorphic-link-assets-class/src/index.js
  src/__tests__/fixtures/isomorphic-link-assets-class/src/stateful.marko
  src/__tests__/fixtures/isomorphic-link-assets-class/src/template.marko
  src/__tests__/fixtures/isomorphic-link-assets-class/test.config.ts
  src/link-assets.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: improve persisted pages
  src/index.ts
  src/link-assets.ts
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

Add agent-feedback setup
  AGENTS.md
  CLAUDE.md
  agent-feedback/README.md
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write

build: convert repo from npm to pnpm
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .prettierignore
  agent-feedback/unclear.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, fixpack

fix: known-template discovery must not follow symlinks
  .changeset/known-templates-symlinks.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: compile templates whose id carries an unknown query
  .changeset/compile-templates-with-unknown-queries.md
  agent-feedback/dx.md
  src/__tests__/query.test.ts
  src/index.ts
  src/query.ts
Due: eslint -f visualstudio --fix, prettier --write

test: compare the compiled template, not vite's interop preamble
  src/__tests__/query.test.ts
Due: eslint -f visualstudio --fix, prettier --write

chore(deps): update dev dependencies for marko 5.39.27
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, fixpack

fix: don't assume a `test` section when vite runs in test mode
  .changeset/vitest-without-test-config.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: persisted pages vite compilation integration
  .changeset/persisted-pages.md
  README.md
  src/__tests__/persisted-print-skip.test.ts
  src/index.ts
  src/link-assets.ts
  src/persisted-print-skip.ts
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write
