Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: avoid optimize-deps entries in vitest (#147)
  .changeset/new-goats-relate.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: dedupe scripts and links
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.10.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.4.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.5.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.6.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.7.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.8.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.9.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/dev-server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/split-bundle-map.js
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/index.js
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/template.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/test.config.ts
  src/render-assets-runtime.ts
  src/serializer.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/cyan-pants-matter.md
Due: prettier --write

feat: dedupe scripts and links (#149)
  .changeset/cyan-pants-matter.md
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.10.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.4.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.5.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.6.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.7.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.8.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.9.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/dev-server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/split-bundle-map.js
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/index.js
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/template.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/test.config.ts
  src/render-assets-runtime.ts
  src/serializer.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: hydrate glob imports
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-glob-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-glob-import/server.mjs
  src/__tests__/fixtures/isomorphic-glob-import/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-glob-import/src/index.js
  src/__tests__/fixtures/isomorphic-glob-import/src/modules/class-component.marko
  src/__tests__/fixtures/isomorphic-glob-import/src/template.marko
  src/__tests__/fixtures/isomorphic-glob-import/test.config.ts
  src/glob-import-transform.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/thin-months-pump.md
Due: prettier --write

fix: hydrate glob imports (#151)
  .changeset/thin-months-pump.md
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-glob-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-glob-import/server.mjs
  src/__tests__/fixtures/isomorphic-glob-import/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-glob-import/src/index.js
  src/__tests__/fixtures/isomorphic-glob-import/src/modules/class-component.marko
  src/__tests__/fixtures/isomorphic-glob-import/src/template.marko
  src/__tests__/fixtures/isomorphic-glob-import/test.config.ts
  src/glob-import-transform.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: add missing dep
  .changeset/nervous-gifts-notice.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: add missing dep (#152)
  .changeset/nervous-gifts-notice.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: set same marko linked config in all compiler options
  .changeset/cyan-peaches-drive.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: set same marko linked config in all compiler options (#155)
  .changeset/cyan-peaches-drive.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: set `build.assetsInlineLimit: 0` for SSR tests in dev
  src/__tests__/fixtures/isomorphic-base-url/dev-server.mjs
  src/__tests__/fixtures/isomorphic-basic/dev-server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/dev-server.mjs
  src/__tests__/fixtures/isomorphic-circular-entry-file/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-svg/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs/dev-server.mjs
  src/__tests__/fixtures/isomorphic-css-loader-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-glob-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.mjs
  src/__tests__/fixtures/isomorphic-modulepreload/dev-server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.mjs
Due: none

chore: set `build.assetsInlineLimit: 0` for SSR tests in dev (#157)
  src/__tests__/fixtures/isomorphic-base-url/dev-server.mjs
  src/__tests__/fixtures/isomorphic-basic/dev-server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/dev-server.mjs
  src/__tests__/fixtures/isomorphic-circular-entry-file/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-svg/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs/dev-server.mjs
  src/__tests__/fixtures/isomorphic-css-loader-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-glob-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.mjs
  src/__tests__/fixtures/isomorphic-modulepreload/dev-server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.mjs
Due: none

fix: improve tags api support
  .changeset/fair-fireants-burn.md
  .changeset/shy-penguins-stare.md
  src/esbuild-plugin.ts
  src/index.ts
  src/render-assets-transform.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve tags api support (#158)
  .changeset/fair-fireants-burn.md
  .changeset/shy-penguins-stare.md
  src/esbuild-plugin.ts
  src/index.ts
  src/render-assets-transform.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use global config from @marko/compiler
  .changeset/quiet-pandas-fry.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: improve cjs interop and fix some tests
  .changeset/rotten-nails-share.md
  src/__tests__/fixtures/isomorphic-base-url/server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.10.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.4.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.5.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.6.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.7.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.8.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.9.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.step-0.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/test.config.ts
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.step-0.0.html
  src/babel-plugin-cjs-interop.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve cjs interop and fix some tests
  .changeset/rotten-nails-share.md
  src/__tests__/fixtures/isomorphic-base-url/server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.step-0.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.10.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.4.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.5.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.6.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.7.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.8.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.loading.9.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.step-0.1.html
  src/__tests__/fixtures/isomorphic-bundle-splitting/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-bundle-splitting/test.config.ts
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.step-0.0.html
  src/babel-plugin-cjs-interop.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve tests by capturing client errors
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/common/html-attributes/index.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/component-browser.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/foo.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/index.marko
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/marko-tag.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/test-button.browser.json
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-modulepreload/server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/server.mjs
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: support ssr assets by collecting in ssr build then loading in client build
  src/__tests__/fixtures/isomorphic-ssr-asset/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-ssr-asset/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-ssr-asset/dev-server.mjs
  src/__tests__/fixtures/isomorphic-ssr-asset/server.mjs
  src/__tests__/fixtures/isomorphic-ssr-asset/src/image.svg
  src/__tests__/fixtures/isomorphic-ssr-asset/src/index.js
  src/__tests__/fixtures/isomorphic-ssr-asset/src/template.marko
  src/__tests__/fixtures/isomorphic-ssr-asset/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: improve test snapshot formatting
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-basic/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-basic/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-svg/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-svg/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-css-loader-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-css-loader-import/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-glob-import/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-ssr-asset/__snapshots__/dev.expected.md
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: add changeset
  .changeset/slow-spoons-push.md
Due: prettier --write

fix: server entry template tags api
  .changeset/cyan-beans-bake.md
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: server entry template tags api (#164)
  .changeset/cyan-beans-bake.md
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: shorter registry ids in production builds
  .changeset/four-planes-tan.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: shorter registry ids in production builds (#166)
  .changeset/four-planes-tan.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: implement marko compiler optimized registry ids
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/chilly-donuts-obey.md
Due: prettier --write

Optimize registry ids (#168)
  .changeset/chilly-donuts-obey.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: improve tags api support
  .changeset/fair-cherries-remember.md
  src/render-assets-runtime.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve tags api support (#170)
  .changeset/fair-cherries-remember.md
  src/render-assets-runtime.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: revert #168
  .changeset/witty-emus-exist.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: revert #168 (#173)
  .changeset/witty-emus-exist.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: support vite 6
  .changeset/honest-waves-sparkle.md
  package-lock.json
  package.json
Due: prettier --write, fixpack
