Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

Notes added by 'git notes add'
  9d8ba6c79f4f76e964a6b3b934741a11ad58ee30
Due: none

fix: issue with finding entry chunks for windows in vite 2.9+
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  13a04543783cd5ed9d92f943ec05c7ba8106ea57
Due: none

chore: fix ssr build test
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-basic/server.js
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid using out.write internally
  src/components/vite-watch.marko
  src/components/vite.marko
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  a1d84308136cb8701b099ddedec24c86d3c2a918
Due: none

fix: always pass resolveVirtualDependencies compiler option
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: always pass resolveVirtualDependencies compiler option (#14)
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  d245ef37109879be488ab92967a6a7b5a3622912
Due: none

test: add test for projects with node_modules
  src/__tests__/fixtures/browser-basic/__snapshots__/build.expected.loading.2.html
  src/__tests__/fixtures/browser-basic/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.0.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.1.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.2.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.3.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.1.loading.0.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.1.loading.1.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/browser-marko-dep/index.html
  src/__tests__/fixtures/browser-marko-dep/package.json
  src/__tests__/fixtures/browser-marko-dep/src/index.js
  src/__tests__/fixtures/browser-marko-dep/src/template.marko
  src/__tests__/fixtures/browser-marko-dep/test.config.ts
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.1.loading.0.html
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/dev.expected.1.loading.0.html
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/dev.expected.1.loading.1.html
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.js
  src/__tests__/fixtures/isomorphic-marko-dep/package.json
  src/__tests__/fixtures/isomorphic-marko-dep/server.js
  src/__tests__/fixtures/isomorphic-marko-dep/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-marko-dep/src/index.js
  src/__tests__/fixtures/isomorphic-marko-dep/src/template.marko
  src/__tests__/fixtures/isomorphic-marko-dep/test.config.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

refactor: use internal _vite tag instead of generating code to call __viteRenderAssets
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use internal _vite tag instead of generating code to call __viteRenderAssets
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  c711065ba93252018502ea33fc8a68f9b068e2f2
Due: none

fix: remove semicolon from _vite tag
  src/components/vite.marko
Due: none

fix: remove semicolon from _vite tag (#17)
  src/components/vite.marko
Due: none

Notes added by 'git notes add'
  5e7b69be2e8fe9f376b95cd140e3382239b036a1
Due: none

fix: forward vite plugin config to esbuild plugin
  src/esbuild-plugin.ts
  src/index.ts
  src/marko-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: optimize
  src/index.ts
  src/marko-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: optimize marko deps (#15)
  src/esbuild-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  1b3676512156ee415f899aae23ddcac29752ac61
Due: none

fix: issue with vite not finding some virtual file paths
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue with vite not finding some virtual file paths (#18)
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  3fd8465a77a0e15303c6147d6a9f7a43de6a1c7b
Due: none

fix: issue with esbuild not resolving Marko node_modules
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue with esbuild not resolving Marko node_modules (#19)
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  20808df46bff75c40b82cf8ae86fb0c3b32c1110
Due: none

fix: revert #16
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: revert #16 (#20)
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

Notes added by 'git notes add'
  d5b5cb2755c8b4ed05711a6c7701c1a075b44e2d
Due: none

feat: improve vite 3 support
  package-lock.json
  package.json
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: update dev tooling
  .changeset/README.md
  .changeset/config.json
  .commitlintrc.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .mocharc.json
  .releaserc.json
  LICENSE
  build.mts
  build.ts
  package-lock.json
  package.json
  src/__tests__/main.test.ts
  tsconfig.json
Due: eslint -f visualstudio --fix, prettier --write, fixpack

wip vite 3
  .gitignore
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-marko-dep/node_modules/test-package/components/class-component.marko
  src/__tests__/fixtures/browser-marko-dep/node_modules/test-package/components/implicit-component.marko
  src/__tests__/fixtures/browser-marko-dep/node_modules/test-package/marko.json
  src/__tests__/fixtures/browser-marko-dep/node_modules/test-package/package.json
  src/__tests__/fixtures/browser-marko-dep/package.json
  src/__tests__/fixtures/isomorphic-basic/dev-server.js
  src/__tests__/fixtures/isomorphic-basic/package.json
  src/__tests__/fixtures/isomorphic-basic/server.js
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.js
  src/__tests__/fixtures/isomorphic-marko-dep/node_modules/test-package/components/class-component.marko
  src/__tests__/fixtures/isomorphic-marko-dep/node_modules/test-package/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-marko-dep/node_modules/test-package/marko.json
  src/__tests__/fixtures/isomorphic-marko-dep/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-marko-dep/package.json
  src/__tests__/fixtures/isomorphic-marko-dep/server.js
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: simplify vite tag implementation and fix tests
  .changeset/eighty-trees-try.md
  .changeset/small-wolves-obey.md
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-basic/__snapshots__/build.expected.loading.2.html
  src/__tests__/fixtures/browser-basic/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.0.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.1.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.2.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/build.expected.1.loading.3.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.1.loading.0.html
  src/__tests__/fixtures/browser-marko-dep/__snapshots__/dev.expected.1.loading.1.html
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/dev.expected.1.loading.0.html
  src/__tests__/fixtures/isomorphic-basic/dev-server.js
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-marko-dep/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.js
  src/__tests__/fixtures/isomorphic-marko-dep/src/template.marko
  src/__tests__/main.test.ts
  src/components/vite-watch.marko
  src/components/vite.marko
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: package.json version was wrong in repo
  .changeset/lovely-swans-walk.md
  package.json
Due: prettier --write, fixpack

fix: package.json version was wrong in repo (#23)
  .changeset/lovely-swans-walk.md
  package.json
Due: prettier --write, fixpack

fix: avoid fs readFile call for browser entry file sources
  .changeset/unlucky-dogs-tap.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid fs readFile call for browser entry file sources (#26)
  .changeset/unlucky-dogs-tap.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: dev server asset loading regression
  .changeset/unlucky-lizards-smoke.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write
