Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: improve cjs interop
  .changeset/sour-falcons-flash.md
  src/babel-plugin-cjs-interop.ts
  src/cjs-interop-translate.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: vite environment api support
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: bad logic on buildStart
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: let custom builder take priority
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/frank-wings-share.md
Due: prettier --write

fix: linked check to preserve outDir on client builds
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: unnecessary optional chaining
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: add vite environments api compatibility (#236)
  .changeset/frank-wings-share.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: outDir delete regression
  .changeset/mighty-wolves-laugh.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: outDir delete regression (#238)
  .changeset/mighty-wolves-laugh.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve interop translator
  .changeset/fast-words-drop.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-tags-api-basic/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-basic/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-basic/dev-server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-basic/server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-basic/src/index.js
  src/__tests__/fixtures/isomorphic-tags-api-basic/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-tags-api-basic/src/tags/stateful.marko
  src/__tests__/fixtures/isomorphic-tags-api-basic/src/tags/stateless.marko
  src/__tests__/fixtures/isomorphic-tags-api-basic/src/template.marko
  src/__tests__/fixtures/isomorphic-tags-api-basic/test.config.ts
  src/index.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: ensure analyzed child templates invalidate their parent compilation in tags api
  .changeset/ripe-baths-fold.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve optional watch file tracking
  .changeset/old-walls-cheer.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: incorrect sourcemaps for server/browser entry
  .changeset/hungry-tables-take.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use inline sourcemaps for esbuild
  .changeset/eighty-birds-appear.md
  .changeset/hungry-tables-take.md
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: remove browser query
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: basic vite 8 support
  .changeset/violet-socks-tell.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-base-url/dev-server.mjs
  src/__tests__/fixtures/isomorphic-basic/dev-server.mjs
  src/__tests__/fixtures/isomorphic-bundle-splitting/dev-server.mjs
  src/__tests__/fixtures/isomorphic-circular-entry-file/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-jk/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-svg/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs/dev-server.mjs
  src/__tests__/fixtures/isomorphic-css-loader-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-custom-entries/dev-server.mjs
  src/__tests__/fixtures/isomorphic-glob-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.mjs
  src/__tests__/fixtures/isomorphic-modulepreload/dev-server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.mjs
  src/__tests__/fixtures/isomorphic-ssr-asset/dev-server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-basic/dev-server.mjs
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: build mode on environments api
  .changeset/grumpy-cows-film.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: server only asset regression
  .changeset/warm-canyons-report.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: full rolldown support
  .changeset/spotty-terms-share.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-base-url/server.mjs
  src/__tests__/fixtures/isomorphic-base-url/test.config.ts
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/template.marko
  src/__tests__/fixtures/isomorphic-modulepreload/__snapshots__/build.expected.md
  src/__tests__/main.test.ts
  src/esbuild-plugin.ts
  src/index.ts
  src/normalize-path.ts
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: improve dev mode optimize dep scanning
  .changeset/blue-birds-return.md
  package-lock.json
  package.json
  src/__tests__/scan.test.ts
  src/index.ts
  src/rolldown-plugin.ts
  src/scan.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: cjs interop for ssr deps
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/vite.config.mts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: allow publishing tags other than latest
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: allow publishing tags other than latest (#255)
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: allow publishing tags other than latest (#255)
  .changeset/afraid-seas-pick.md
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: handling of cjs deps in dev ssr (#256)
  .changeset/afraid-seas-pick.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/vite.config.mts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: simplify publish tag configuration
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: simplify publish tag configuration (#258)
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: allow publishing tags other than latest (#255)
  .changeset/afraid-seas-pick.md
Due: prettier --write
