Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

fix: handle asset imports from cjs lib marko files
  .changeset/chilly-socks-smell.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/node_modules/test-package/sub/index.js
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/node_modules/test-package/sub/package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-svg/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-svg/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-svg/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/components/test-button/index.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/components/test-icon/icon.svg
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/components/test-icon/index.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/marko.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/package.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/test.config.ts
  src/__tests__/main.test.ts
  src/babel-plugin-cjs-interop.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: handle asset imports from cjs lib marko files (#120)
  .changeset/chilly-socks-smell.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/node_modules/test-package/sub/index.js
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/node_modules/test-package/sub/package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/package.json
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-dir-import/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-svg/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-svg/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs-svg/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/components/test-button/index.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/components/test-icon/icon.svg
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/components/test-icon/index.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/marko.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/package.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-svg/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-svg/test.config.ts
  src/__tests__/main.test.ts
  src/babel-plugin-cjs-interop.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: update readme
  README.md
Due: prettier --write

chore: add changeset
  .changeset/bright-bags-draw.md
Due: prettier --write

fix: set config.base from BASE_URL env var
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-base-url/dev-server.mjs
  src/__tests__/fixtures/isomorphic-base-url/server.mjs
  src/__tests__/fixtures/isomorphic-base-url/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-base-url/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-base-url/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-base-url/src/components/logo.svg
  src/__tests__/fixtures/isomorphic-base-url/src/index.js
  src/__tests__/fixtures/isomorphic-base-url/src/template.marko
  src/__tests__/fixtures/isomorphic-base-url/test.config.ts
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: remove '~' prefix to support css-loader style import
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-css-loader-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-css-loader-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-css-loader-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-css-loader-import/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-css-loader-import/node_modules/test-package/style.css
  src/__tests__/fixtures/isomorphic-css-loader-import/server.mjs
  src/__tests__/fixtures/isomorphic-css-loader-import/src/components/local-component/index.marko
  src/__tests__/fixtures/isomorphic-css-loader-import/src/components/local-component/style.less
  src/__tests__/fixtures/isomorphic-css-loader-import/src/index.js
  src/__tests__/fixtures/isomorphic-css-loader-import/src/template.marko
  src/__tests__/fixtures/isomorphic-css-loader-import/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: ignore vite processed files in src attr transform
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.4.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/script.js
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/styles.css
  src/__tests__/main.test.ts
  src/relative-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: inconsistent test
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.4.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.2.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.3.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.4.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/class-component.marko
Due: none

fix: test snapshot hash replacement
  src/__tests__/fixtures/isomorphic-modulepreload/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-modulepreload/src/components/read-head.marko
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: include dependency
  .changeset/chilly-apricots-agree.md
  package.json
Due: prettier --write, fixpack

fix: include dependency (#122)
  .changeset/chilly-apricots-agree.md
  package.json
Due: prettier --write, fixpack

fix: normalize windows paths in vites watcher
  .changeset/weak-bulldogs-perform.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: normalize windows paths in vites watcher (#124)
  .changeset/weak-bulldogs-perform.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ignore errors from cjs to esm conversion
  .changeset/many-beans-perform.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ignore errors from cjs to esm conversion (#126)
  .changeset/many-beans-perform.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: manifest inject in dynamic import entries
  .changeset/happy-ducks-rule.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid outputting server assets in assets folder
  .changeset/proud-pillows-play.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: manifest inject in dynamic import entries (#128)
  .changeset/happy-ducks-rule.md
  .changeset/proud-pillows-play.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: move default assets dir check to be unconditional
  .changeset/poor-dolphins-matter.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ensure we only trim asset url if it isn't empty
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use chunkFileNames default to avoid ssr assets in client folder
  .changeset/chatty-boats-sparkle.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use chunkFileNames default to avoid ssr assets in client folder (#131)
  .changeset/chatty-boats-sparkle.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve resolve alias with ~
  .changeset/rude-roses-draw.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve resolve alias with ~ (#134)
  .changeset/rude-roses-draw.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use optimizedRegistryIds compiler option
  .changeset/nervous-socks-sniff.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: use optimizedRegistryIds compiler option (#135)
  .changeset/nervous-socks-sniff.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: disable optmized registry ids
  .changeset/wet-sheep-reflect.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: disable optmized registry ids (#137)
  .changeset/wet-sheep-reflect.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: native addons failure in stackblitz
  .changeset/soft-fireants-burn.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: remove unnecessary microtask
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: native addons failure in stackblitz (#139)
  .changeset/soft-fireants-burn.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve render blocking assets in dev mode
  .changeset/five-suits-burn.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve render blocking assets in dev mode (#141)
  .changeset/five-suits-burn.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use async script for paint holding
  .changeset/fair-zebras-cheat.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: use async script for paint holding (#143)
  .changeset/fair-zebras-cheat.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: broken vite preload when used with cspnonce
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/silent-sheep-admire.md
Due: prettier --write

fix: broken vite preload when used with cspnonce (#145)
  .changeset/silent-sheep-admire.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid optimize-deps entries in vitest
  .changeset/new-goats-relate.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Path conditions:
  eslint -f visualstudio --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
