Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: add vite 7 peer dep (#209)
  .changeset/fine-hounds-poke.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write, fixpack

feat: support tag import shorthands in non marko files
  .changeset/tall-houses-sin.md
  src/__tests__/fixtures/browser-marko-shorthand-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-marko-shorthand-import/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-marko-shorthand-import/index.html
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/components/class-component.marko
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/components/implicit-component.marko
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/marko.json
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/package.json
  src/__tests__/fixtures/browser-marko-shorthand-import/package.json
  src/__tests__/fixtures/browser-marko-shorthand-import/src/components/page.marko
  src/__tests__/fixtures/browser-marko-shorthand-import/src/index.js
  src/__tests__/fixtures/browser-marko-shorthand-import/test.config.ts
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/build.expected.1.md
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.1.md
  src/esbuild-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: support tag import shorthands in non marko files (#212)
  .changeset/tall-houses-sin.md
  src/__tests__/fixtures/browser-marko-shorthand-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-marko-shorthand-import/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-marko-shorthand-import/index.html
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/components/class-component.marko
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/components/implicit-component.marko
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/marko.json
  src/__tests__/fixtures/browser-marko-shorthand-import/node_modules/test-package/package.json
  src/__tests__/fixtures/browser-marko-shorthand-import/package.json
  src/__tests__/fixtures/browser-marko-shorthand-import/src/components/page.marko
  src/__tests__/fixtures/browser-marko-shorthand-import/src/index.js
  src/__tests__/fixtures/browser-marko-shorthand-import/test.config.ts
  src/__tests__/fixtures/isomorphic-base-url/__snapshots__/build.expected.1.md
  src/__tests__/fixtures/isomorphic-basic/__snapshots__/build.expected.1.md
  src/esbuild-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: calculate asset list during render to support arc lazy resolving them
  .changeset/quiet-gifts-like.md
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: include unhandled rejections in test logs
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: windows import glob support
  .changeset/shy-mammals-sip.md
  package-lock.json
  package.json
  src/glob-import-transform.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: refactor test runner to wait for assets on client instead of via playwright
  .github/workflows/ci.yml
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.md
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: support no registered templates
  .changeset/soft-pants-bathe.md
  .github/workflows/ci.yml
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: handle cjs interop in marko files when js file is esm
  .changeset/lazy-lands-switch.md
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/esm-as-cjs/helper.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/esm-as-cjs/index.marko
  src/__tests__/fixtures/isomorphic-commonjs/src/template.marko
  src/babel-plugin-cjs-interop.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: add option to filter marko entry files
  .changeset/fast-houses-hope.md
  src/__tests__/fixtures/isomorphic-custom-entries/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-custom-entries/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-custom-entries/dev-server.mjs
  src/__tests__/fixtures/isomorphic-custom-entries/package.json
  src/__tests__/fixtures/isomorphic-custom-entries/server.mjs
  src/__tests__/fixtures/isomorphic-custom-entries/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/index.js
  src/__tests__/fixtures/isomorphic-custom-entries/src/other.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/template.marko
  src/__tests__/fixtures/isomorphic-custom-entries/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: add option to filter marko entry files (#218)
  .changeset/fast-houses-hope.md
  src/__tests__/fixtures/isomorphic-custom-entries/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-custom-entries/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-custom-entries/dev-server.mjs
  src/__tests__/fixtures/isomorphic-custom-entries/package.json
  src/__tests__/fixtures/isomorphic-custom-entries/server.mjs
  src/__tests__/fixtures/isomorphic-custom-entries/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/index.js
  src/__tests__/fixtures/isomorphic-custom-entries/src/other.marko
  src/__tests__/fixtures/isomorphic-custom-entries/src/template.marko
  src/__tests__/fixtures/isomorphic-custom-entries/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: optional vite asset inject to support non-entry templates
  .changeset/afraid-impalas-fetch.md
  src/__tests__/fixtures/isomorphic-custom-entries/src/other.marko
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: optional vite asset inject to support non-entry templates (#220)
  .changeset/afraid-impalas-fetch.md
  src/__tests__/fixtures/isomorphic-custom-entries/src/other.marko
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: esbuild optimizing virtual files
  .changeset/ripe-trains-warn.md
  package-lock.json
  package.json
  src/esbuild-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: handle receiving esm in rewritten .marko csj imports
  .changeset/ripe-trains-warn.md
  src/babel-plugin-cjs-interop.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: handle receiving esm in rewritten .marko csj imports
  .changeset/ripe-trains-warn.md
  src/babel-plugin-cjs-interop.ts
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: support vitest 4
  .changeset/fuzzy-hornets-pump.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: vitest 4 client dep optimization
  .changeset/kind-rooms-fetch.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: only apply ssr cjs interop transform to ssr modules
  .changeset/light-llamas-return.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: add missing names property to sourcemap
  .changeset/fuzzy-melons-vanish.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve vitest 4 support
  .changeset/every-chefs-yawn.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: sourcemaps
  .changeset/crazy-jars-wink.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: support vitest with istanbul
  .changeset/cuddly-bottles-jog.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve cjs interop
  .changeset/sour-falcons-flash.md
  src/babel-plugin-cjs-interop.ts
  src/cjs-interop-translate.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write
