Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

test: change server type for vite 5 change (#93)
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: handle cjs imports in marko files in ssr builds
  .gitignore
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-imports/index.marko
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package2/cjs-exports.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package2/cjs-module.exports.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package2/esm.mjs
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package2/esm2cjs.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package2/package.json
  src/__tests__/fixtures/isomorphic-commonjs/src/template.marko
  src/babel-plugin-cjs-interop.ts
  src/index.ts
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: add changeset
  .changeset/plenty-bees-appear.md
Due: prettier --write

feat: switch tests to esm
  src/__tests__/fixtures/isomorphic-basic/dev-server.js
  src/__tests__/fixtures/isomorphic-basic/dev-server.mjs
  src/__tests__/fixtures/isomorphic-basic/server.js
  src/__tests__/fixtures/isomorphic-basic/server.mjs
  src/__tests__/fixtures/isomorphic-circular-entry-file/dev-server.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/dev-server.mjs
  src/__tests__/fixtures/isomorphic-circular-entry-file/server.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs/dev-server.js
  src/__tests__/fixtures/isomorphic-commonjs/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs/server.js
  src/__tests__/fixtures/isomorphic-commonjs/server.mjs
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.js
  src/__tests__/fixtures/isomorphic-marko-dep/dev-server.mjs
  src/__tests__/fixtures/isomorphic-marko-dep/server.js
  src/__tests__/fixtures/isomorphic-marko-dep/server.mjs
  src/__tests__/fixtures/isomorphic-memory-store/dev-server.js
  src/__tests__/fixtures/isomorphic-memory-store/dev-server.mjs
  src/__tests__/fixtures/isomorphic-memory-store/server.js
  src/__tests__/fixtures/isomorphic-memory-store/server.mjs
  src/__tests__/fixtures/isomorphic-modulepreload/dev-server.js
  src/__tests__/fixtures/isomorphic-modulepreload/dev-server.mjs
  src/__tests__/fixtures/isomorphic-modulepreload/server.js
  src/__tests__/fixtures/isomorphic-modulepreload/server.mjs
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.mjs
  src/__tests__/fixtures/isomorphic-runtime-base-path/server.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/server.mjs
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: test import on windows
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: comment
  src/babel-plugin-cjs-interop.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: cjs in esm
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: make query check more strict
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: handle cjs imports in marko files in ssr builds
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/fluffy-goats-worry.md
Due: prettier --write

fix: esbuild virtual file resolution
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: correct import of cjs file
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: esbuild plugin asset resolution
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/famous-cups-travel.md
Due: prettier --write

Fix issues with CJS interop (#97)
  .changeset/famous-cups-travel.md
  src/esbuild-plugin.ts
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: support other plugins adding assets, remove store config option
  .changeset/chilly-kids-ring.md
  README.md
  build.mts
  package.json
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/dev-server.mjs
  src/__tests__/fixtures/isomorphic-memory-store/server.mjs
  src/__tests__/fixtures/isomorphic-memory-store/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/index.js
  src/__tests__/fixtures/isomorphic-memory-store/src/template.marko
  src/__tests__/fixtures/isomorphic-memory-store/test.config.ts
  src/components/vite.marko
  src/index.ts
  src/manifest-generator.ts
  src/read-once-persisted-store.ts
  src/render-assets-runtime.ts
  src/serializer.ts
  src/server-entry-template.ts
  src/store/__tests__/file-store.test.ts
  src/store/__tests__/memory-store.test.ts
  src/store/file-store.ts
  src/store/index.ts
  src/store/memory-store.ts
  src/store/types.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: update deps
  package-lock.json
  package.json
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: test against vite 5
  package-lock.json
  package.json
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: run format
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-runtime-base-path/test.config.ts
  src/babel-plugin-cjs-interop.ts
  src/esbuild-plugin.ts
  src/manifest-generator.ts
  src/render-assets-transform.ts
  src/resolve.ts
  src/serializer.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: support other plugins adding assets, remove store config option (#99)
  .changeset/chilly-kids-ring.md
  .github/workflows/ci.yml
  README.md
  build.mts
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/dev-server.mjs
  src/__tests__/fixtures/isomorphic-memory-store/server.mjs
  src/__tests__/fixtures/isomorphic-memory-store/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/index.js
  src/__tests__/fixtures/isomorphic-memory-store/src/template.marko
  src/__tests__/fixtures/isomorphic-memory-store/test.config.ts
  src/__tests__/fixtures/isomorphic-runtime-base-path/test.config.ts
  src/__tests__/main.test.ts
  src/babel-plugin-cjs-interop.ts
  src/components/vite.marko
  src/esbuild-plugin.ts
  src/index.ts
  src/manifest-generator.ts
  src/read-once-persisted-store.ts
  src/render-assets-runtime.ts
  src/render-assets-transform.ts
  src/resolve.ts
  src/serializer.ts
  src/server-entry-template.ts
  src/store/__tests__/file-store.test.ts
  src/store/__tests__/memory-store.test.ts
  src/store/file-store.ts
  src/store/index.ts
  src/store/memory-store.ts
  src/store/types.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: basePathVar and runtimeId options
  .changeset/yellow-ravens-burn.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: basePathVar and runtimeId options (#101)
  .changeset/yellow-ravens-burn.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: add support for arc-vite
  .changeset/swift-bears-retire.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: add support for arc-vite (#103)
  .changeset/swift-bears-retire.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: sync MARKO_DEBUG and compiler optimize
  .changeset/wild-panthers-try.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: sync MARKO_DEBUG and compiler optimize (#105)
  .changeset/wild-panthers-try.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: vite prescan coming from script files
  .changeset/good-adults-obey.md
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: vite prescan coming from script files (#107)
  .changeset/good-adults-obey.md
  src/esbuild-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: relative assets transform
  .changeset/sharp-guests-know.md
  README.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/logo.svg
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/index.js
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/template.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/test.config.ts
  src/__tests__/main.test.ts
  src/index.ts
  src/relative-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: relative assets transform (#109)
  .changeset/sharp-guests-know.md
  README.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-relative-asset-import/dev-server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/server.mjs
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/components/logo.svg
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/index.js
  src/__tests__/fixtures/isomorphic-relative-asset-import/src/template.marko
  src/__tests__/fixtures/isomorphic-relative-asset-import/test.config.ts
  src/__tests__/main.test.ts
  src/index.ts
  src/relative-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: arc integration caching issue
  .changeset/cool-shirts-reflect.md
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: arc integration caching issue (#111)
  .changeset/cool-shirts-reflect.md
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue when running in new vitest versions
  .changeset/nine-actors-arrive.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: issue when running in new vitest versions (#113)
  .changeset/nine-actors-arrive.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: set correct config for vitest deps optimization
  .changeset/dull-turkeys-shop.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: set correct config for vitest deps optimization (#115)
  .changeset/dull-turkeys-shop.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid asset transforms when not in linked mode
  .changeset/proud-spiders-applaud.md
  src/index.ts
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid asset transforms when not in linked mode (#118)
  .changeset/proud-spiders-applaud.md
  src/index.ts
  src/render-assets-transform.ts
Due: eslint -f visualstudio --fix, prettier --write

Path conditions:
  eslint -f visualstudio --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
