Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: simplify publish tag configuration (#258)
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: cjs interop for ssr deps
  .changeset/afraid-seas-pick.md
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: live reload tags api
  .changeset/light-dolls-remain.md
  src/__tests__/fixtures/isomorphic-basic-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-basic-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-basic-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-basic-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-basic-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-basic-hmr/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-basic-hmr/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-basic-hmr/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-basic-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-basic-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-basic-hmr/test.config.ts
  src/__tests__/fixtures/isomorphic-tags-api-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-tags-api-hmr/src/tags/child-tag.marko
  src/__tests__/fixtures/isomorphic-tags-api-hmr/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-tags-api-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-tags-api-hmr/test.config.ts
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Update branch name from 'v5' to 'v-5' in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix: handling of cjs deps in dev ssr
  .changeset/nice-tires-stare.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/vite.config.mts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: handling of cjs deps in dev ssr (#264)
  .changeset/nice-tires-stare.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/package.json
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-module-exports/vite.config.mts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: marko virtual file hmr
  .changeset/happy-rooms-burn.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/tags/child-tag.marko
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/test.config.ts
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/test.config.ts
  src/__tests__/main.test.ts
  src/__tests__/utils/inject-hmr-events-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: handle client hot updates and necessary reloads
  src/__tests__/fixtures/isomorphic-server-only-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-server-only-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-server-only-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-server-only-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-server-only-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/test.config.ts
  src/__tests__/fixtures/isomorphic-tags-api-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/main.test.ts
  src/__tests__/utils/inject-hmr-events-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: marko virtual file hmr (#266)
  .changeset/happy-rooms-burn.md
  src/__tests__/fixtures/isomorphic-server-only-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-server-only-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-server-only-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-server-only-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-server-only-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-server-only-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-server-only-hmr/test.config.ts
  src/__tests__/fixtures/isomorphic-tags-api-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/tags/child-tag.marko
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-tags-api-virtual-file-hmr/test.config.ts
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/__snapshots__/dev-hmr.expected.md
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/dev-server.mjs
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/server.mjs
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/index.js
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/src/template.marko
  src/__tests__/fixtures/isomorphic-virtual-file-hmr/test.config.ts
  src/__tests__/main.test.ts
  src/__tests__/utils/inject-hmr-events-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve commonjs translation in dev ssr
  .changeset/shaky-lilies-enter.md
  src/cjs-to-esm.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve commonjs translation in dev ssr (#268)
  .changeset/shaky-lilies-enter.md
  src/cjs-to-esm.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve commonjs translation in dev ssr (#270)
  .changeset/shaky-lilies-enter.md
  src/cjs-to-esm.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: revert cjs transform for dev ssr deps
  .changeset/spicy-zebras-buy.md
  package-lock.json
  package.json
  src/__tests__/cjs-to-esm.test.ts
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/test.config.ts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: revert cjs transform for dev ssr deps (#272)
  .changeset/spicy-zebras-buy.md
  package-lock.json
  package.json
  src/__tests__/cjs-to-esm.test.ts
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/test.config.ts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: revert cjs transform for dev ssr deps
  .changeset/spicy-zebras-buy.md
  package-lock.json
  package.json
  src/__tests__/cjs-to-esm.test.ts
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/test.config.ts
  src/__tests__/main.test.ts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: revert cjs transform for dev ssr deps (#274)
  .changeset/spicy-zebras-buy.md
  package-lock.json
  package.json
  src/__tests__/cjs-to-esm.test.ts
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-transpiled-default/test.config.ts
  src/__tests__/main.test.ts
  src/cjs-to-esm.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: add support for new compiler assets api
  .changeset/lucky-falcons-link.md
  package-lock.json
  package.json
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-link-assets-trigger/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-link-assets-trigger/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-link-assets-trigger/dev-server.mjs
  src/__tests__/fixtures/isomorphic-link-assets-trigger/server.mjs
  src/__tests__/fixtures/isomorphic-link-assets-trigger/src/index.js
  src/__tests__/fixtures/isomorphic-link-assets-trigger/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-link-assets-trigger/src/tags/lazy.marko
  src/__tests__/fixtures/isomorphic-link-assets-trigger/src/template.marko
  src/__tests__/fixtures/isomorphic-link-assets-trigger/test.config.ts
  src/__tests__/fixtures/isomorphic-link-assets/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-link-assets/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-link-assets/dev-server.mjs
  src/__tests__/fixtures/isomorphic-link-assets/server.mjs
  src/__tests__/fixtures/isomorphic-link-assets/src/index.js
  src/__tests__/fixtures/isomorphic-link-assets/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-link-assets/src/tags/lazy.marko
  src/__tests__/fixtures/isomorphic-link-assets/src/tags/stateful.marko
  src/__tests__/fixtures/isomorphic-link-assets/src/template.marko
  src/__tests__/fixtures/isomorphic-link-assets/test.config.ts
  src/__tests__/utils/create-browser.ts
  src/index.ts
  src/link-assets.ts
  src/manifest-generator.ts
  src/render-assets-transform.ts
  src/serializer.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

chore: use types from Vite
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: fix import
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: add persisted option plumbed into the Marko compiler baseConfig
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: compile `x.marko?update` imports as persisted update entries
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: dep-scan load of entry-suffixed marko ids reads the source template
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: expose a client-build digest through the linkAssets runtime
  src/index.ts
  src/link-assets.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: share the build's compiler cache with update entry compiles
  .changeset/shared-update-entry-cache.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: resolve ?register imports as persisted register entries
  .changeset/persisted-register-entries.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: persisted pages -- compiler option plumb + update/persisted entries
  .changeset/persisted-entries.md
  .changeset/shared-update-entry-cache.md
  src/index.ts
  src/link-assets.ts
  src/rolldown-plugin.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: template imports are pure unless explicitly side-effect-only
  .changeset/template-side-effect-policy.md
  src/__tests__/fixtures/browser-side-effect-imports/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-side-effect-imports/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-side-effect-imports/index.html
  src/__tests__/fixtures/browser-side-effect-imports/src/bare-init.js
  src/__tests__/fixtures/browser-side-effect-imports/src/index.js
  src/__tests__/fixtures/browser-side-effect-imports/src/lib.js
  src/__tests__/fixtures/browser-side-effect-imports/src/template.marko
  src/__tests__/fixtures/browser-side-effect-imports/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: pass persisted option through (boolean | "fragments") for fragment-first builds
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: tree-shake server-only imports from client builds
  .changeset/side-effect-free-imports.md
  .gitignore
  src/__tests__/fixtures/browser-side-effects/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-side-effects/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-side-effects/index.html
  src/__tests__/fixtures/browser-side-effects/node_modules/impure-lib/index.js
  src/__tests__/fixtures/browser-side-effects/node_modules/impure-lib/package.json
  src/__tests__/fixtures/browser-side-effects/src/explicit-side-effect.js
  src/__tests__/fixtures/browser-side-effects/src/index.js
  src/__tests__/fixtures/browser-side-effects/src/server-only.js
  src/__tests__/fixtures/browser-side-effects/src/shared.js
  src/__tests__/fixtures/browser-side-effects/src/styles.css
  src/__tests__/fixtures/browser-side-effects/src/template.marko
  src/__tests__/fixtures/browser-side-effects/src/tracker.js
  src/__tests__/fixtures/browser-side-effects/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

feat: point compile errors at the runtime's LLM syntax reference
  .changeset/compile-error-fix-guide.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write
