Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

feat: add a `persisted` option
  .changeset/persisted-option.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: keep zero-runtime stylesheet modules out of client treeshaking
  .changeset/css-script-side-effects.md
  src/__tests__/fixtures/browser-side-effects/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-side-effects/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-side-effects/src/server-styles.css.js
  src/__tests__/fixtures/browser-side-effects/src/template.marko
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

refactor: fold stylesheet modules into the style import regexp
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

[ci] format
  agent-feedback/bugs.md
Due: prettier --write

chore: record the pnpm dual-package require interop crash in agent feedback
  agent-feedback/bugs.md
Due: prettier --write

fix: only tree-shake client side effects when linked
  .changeset/side-effects-only-when-linked.md
  src/__tests__/fixtures/browser-side-effects/node_modules/impure-lib/index.js
  src/__tests__/fixtures/browser-side-effects/node_modules/side-effect-lib/index.js
  src/__tests__/fixtures/browser-side-effects/src/template.marko
  src/__tests__/fixtures/browser-side-effects/test.config.ts
  src/__tests__/fixtures/isomorphic-side-effects/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-side-effects/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-side-effects/dev-server.mjs
  src/__tests__/fixtures/isomorphic-side-effects/node_modules/impure-lib/index.js
  src/__tests__/fixtures/isomorphic-side-effects/node_modules/impure-lib/package.json
  src/__tests__/fixtures/isomorphic-side-effects/node_modules/side-effect-lib/index.js
  src/__tests__/fixtures/isomorphic-side-effects/node_modules/side-effect-lib/package.json
  src/__tests__/fixtures/isomorphic-side-effects/node_modules/side-effect-lib/register.js
  src/__tests__/fixtures/isomorphic-side-effects/server.mjs
  src/__tests__/fixtures/isomorphic-side-effects/src/components/explicit-side-effect.js
  src/__tests__/fixtures/isomorphic-side-effects/src/components/nested-side-effect.js
  src/__tests__/fixtures/isomorphic-side-effects/src/components/server-only.js
  src/__tests__/fixtures/isomorphic-side-effects/src/components/server-styles.css.js
  src/__tests__/fixtures/isomorphic-side-effects/src/components/shared.js
  src/__tests__/fixtures/isomorphic-side-effects/src/components/side-effects.marko
  src/__tests__/fixtures/isomorphic-side-effects/src/components/styles.css
  src/__tests__/fixtures/isomorphic-side-effects/src/components/tracker.js
  src/__tests__/fixtures/isomorphic-side-effects/src/index.js
  src/__tests__/fixtures/isomorphic-side-effects/src/template.marko
  src/__tests__/fixtures/isomorphic-side-effects/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

docs(agent-feedback): migrate to one item per file
  AGENTS.md
  agent-feedback/README.md
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/items/2026-07-21-root-devdeps-select-translator.md
  agent-feedback/items/2026-07-24-dev-server-close-hangs.md
  agent-feedback/items/2026-08-12-cjs-require-resolves-to-esm-under-pnpm.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write

Add fixture reproducing empty JS chunk for shared CSS module (#310)
  src/__tests__/fixtures/isomorphic-shared-css-module/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-shared-css-module/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-shared-css-module/dev-server.mjs
  src/__tests__/fixtures/isomorphic-shared-css-module/server.mjs
  src/__tests__/fixtures/isomorphic-shared-css-module/src/index.js
  src/__tests__/fixtures/isomorphic-shared-css-module/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-shared-css-module/src/tags/styled-thing.marko
  src/__tests__/fixtures/isomorphic-shared-css-module/src/tags/styled-thing.module.css
  src/__tests__/fixtures/isomorphic-shared-css-module/src/template-a.marko
  src/__tests__/fixtures/isomorphic-shared-css-module/src/template-b.marko
  src/__tests__/fixtures/isomorphic-shared-css-module/test.config.ts
Due: eslint -f visualstudio --fix, prettier --write

Split css module class map and stylesheet in the client build (#310)
  .changeset/empty-css-module-chunk.md
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-link-assets/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-shared-css-module/__snapshots__/build.expected.md
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Split css module class map and stylesheet in the client build (#310)
  .changeset/empty-css-module-chunk.md
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-link-assets/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-shared-css-module/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-shared-css-module/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-shared-css-module/vite.config.mjs
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Remove import-only chunks left behind by extracted css module stylesheets
  .changeset/empty-css-carrier-chunk.md
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/README.md
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/dev-server.mjs
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/server.mjs
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/client/thing.js
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/index.js
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/layout.css
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/tags/tag-a.marko
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/tags/tag-a.module.css
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/tags/tag-b.marko
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/tags/tag-b.module.css
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/template-one.marko
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/template-three.marko
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/src/template-two.marko
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/test.config.ts
  src/__tests__/fixtures/isomorphic-css-carrier-chunk/vite.config.mjs
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Simplify removeEmptyChunks
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Let vite drop stylesheet-only chunks by blanking their redundant imports
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Detect import-only chunks from renderedLength instead of the code
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

docs(agent-feedback): file README staleness, css ?url emission, link-rel inlining and dev FOUC findings
  agent-feedback/items/2026-08-28-document-cspnonce-on-injected-asset-tags.md
  agent-feedback/items/2026-08-28-document-dev-fouc-guard.md
  agent-feedback/items/2026-08-28-emit-css-url-assets-from-server-only-templates.md
  agent-feedback/items/2026-08-28-fix-readme-express-sample.md
  agent-feedback/items/2026-08-28-skip-inlining-icon-and-manifest-link-assets.md
Due: prettier --write

docs(agent-feedback): file findings from six workload scans
  agent-feedback/items/2026-08-28-fix-readme-express-sample.md
  agent-feedback/items/2026-09-04-clarify-basepathvar-is-assets-dir.md
  agent-feedback/items/2026-09-04-client-sourcemap-leaks-server-template.md
  agent-feedback/items/2026-09-04-compile-error-cached-for-server-life.md
  agent-feedback/items/2026-09-04-document-production-build.md
  agent-feedback/items/2026-09-04-js-imported-templates-become-page-entries.md
  agent-feedback/items/2026-09-04-linked-build-needs-app-mode.md
  agent-feedback/items/2026-09-04-marko-ssr-entry-injects-nothing.md
  agent-feedback/items/2026-09-04-no-contributor-path.md
  agent-feedback/items/2026-09-04-noexternal-misses-marko-barrel-packages.md
  agent-feedback/items/2026-09-04-optimizedeps-includes-unresolvable-tags-runtime.md
  agent-feedback/items/2026-09-04-render-body-slot-dropped.md
  agent-feedback/items/2026-09-04-ssr-only-js-edits-never-reload.md
  agent-feedback/items/2026-09-04-translator-option-never-compiles.md
  agent-feedback/items/2026-09-04-url-query-inlines-template-source.md
Due: prettier --write

feat: add the persisted compiler option
  .changeset/persisted-option.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Pass the compiler's constructed option through
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Revert "Pass the compiler's constructed option through"
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Rename the persisted option to patches
  .changeset/patches-option.md
  .changeset/persisted-option.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: link the stylesheets of a lazily loaded template with no client code
  .changeset/load-entry-css-links.md
  src/__tests__/fixtures/isomorphic-link-assets-static/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-link-assets-static/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-link-assets-static/dev-server.mjs
  src/__tests__/fixtures/isomorphic-link-assets-static/server.mjs
  src/__tests__/fixtures/isomorphic-link-assets-static/src/index.js
  src/__tests__/fixtures/isomorphic-link-assets-static/src/tags/layout.marko
  src/__tests__/fixtures/isomorphic-link-assets-static/src/tags/lazy.marko
  src/__tests__/fixtures/isomorphic-link-assets-static/src/tags/stateful.marko
  src/__tests__/fixtures/isomorphic-link-assets-static/src/template.marko
  src/__tests__/fixtures/isomorphic-link-assets-static/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: add a `patches` option
  .changeset/patches-option.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: report compile errors in the shape bundlers print
  .changeset/compile-error-bundler-shape.md
  package.json
  pnpm-lock.yaml
  src/__tests__/fixtures/browser-compile-error-in-tag/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-compile-error-in-tag/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-compile-error-in-tag/index.html
  src/__tests__/fixtures/browser-compile-error-in-tag/src/index.js
  src/__tests__/fixtures/browser-compile-error-in-tag/src/tags/broken-tag.marko
  src/__tests__/fixtures/browser-compile-error-in-tag/src/template.marko
  src/__tests__/fixtures/browser-compile-error-in-tag/test.config.ts
  src/__tests__/fixtures/browser-compile-error/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-compile-error/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-compile-error/index.html
  src/__tests__/fixtures/browser-compile-error/src/index.js
  src/__tests__/fixtures/browser-compile-error/src/template.marko
  src/__tests__/fixtures/browser-compile-error/test.config.ts
  src/__tests__/fixtures/browser-compile-errors/__snapshots__/build.expected.md
  src/__tests__/fixtures/browser-compile-errors/__snapshots__/dev.expected.md
  src/__tests__/fixtures/browser-compile-errors/index.html
  src/__tests__/fixtures/browser-compile-errors/src/index.js
  src/__tests__/fixtures/browser-compile-errors/src/template.marko
  src/__tests__/fixtures/browser-compile-errors/test.config.ts
  src/__tests__/fixtures/isomorphic-compile-error/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-compile-error/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-compile-error/src/index.js
  src/__tests__/fixtures/isomorphic-compile-error/src/template.marko
  src/__tests__/fixtures/isomorphic-compile-error/test.config.ts
  src/__tests__/main.test.ts
  src/compile-error.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: wait for a chunk's css on every dynamic import
  .changeset/preload-css-every-import.md
  src/__tests__/preload-css.test.ts
  src/index.ts
  src/preload-css.ts
Due: eslint -f visualstudio --fix, prettier --write

docs: keep page asset knowledge in Marko, not the plugin
  AGENTS.md
Due: prettier --write

docs: explain which modules a linked build keeps for side effects
  README.md
Due: prettier --write

docs(agent-feedback): file bugs found auditing Marko invariants
  agent-feedback/items/2026-09-25-recompile-transitive-parents-of-an-edited-tag.md
Due: prettier --write

feat: add a `patches` option
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Path conditions:
  eslint -f visualstudio --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
