Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint -f visualstudio --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: support vite 6 (#175)
  .changeset/honest-waves-sparkle.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: swtich from fixpack to prettier-plugin-packagejson
  .fixpackrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  LICENSE
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-marko-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/package.json
  src/__tests__/fixtures/isomorphic-commonjs/package.json
Due: prettier --write, fixpack

chore: swtich from fixpack to prettier-plugin-packagejson (#177)
  .fixpackrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  LICENSE
  package-lock.json
  package.json
  src/__tests__/fixtures/browser-marko-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-svg/package.json
  src/__tests__/fixtures/isomorphic-commonjs/package.json
Due: prettier --write, fixpack

fix: ensure resolved id is created correctly
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/silver-owls-sneeze.md
Due: prettier --write

fix: issue with tags api detection
  .changeset/healthy-bees-burn.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue with tags api detection (#179)
  .changeset/healthy-bees-burn.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: load translator with require when checking tags API
  .changeset/five-schools-complain.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: load translator with require when checking tags API (#181)
  .changeset/five-schools-complain.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve path normalization for windows
  .changeset/strange-experts-argue.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve path normalization for windows (#183)
  .changeset/strange-experts-argue.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue where linked mode enabled in tests
  .changeset/blue-humans-boil.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue where linked mode enabled in tests (#186)
  .changeset/blue-humans-boil.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: disable hmr for tags api
  .changeset/famous-fireants-grin.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: disable hmr for tags api (#188)
  .changeset/famous-fireants-grin.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: default imports of transient deps of an inlined commonjs dep
  .changeset/brown-days-nail.md
  .gitignore
  src/__tests__/fixtures/isomorphic-commonjs-jk/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-jk/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-jk/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/transient-dep/index.mjs
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-jk/package.json
  src/__tests__/fixtures/isomorphic-commonjs-jk/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-jk/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-jk/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-jk/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-jk/vite.config.mts
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: default imports of transient deps of an inlined commonjs dep (#190)
  .changeset/brown-days-nail.md
  .gitignore
  src/__tests__/fixtures/isomorphic-commonjs-jk/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-jk/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-commonjs-jk/dev-server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/transient-dep/index.js
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/transient-dep/index.mjs
  src/__tests__/fixtures/isomorphic-commonjs-jk/node_modules/transient-dep/package.json
  src/__tests__/fixtures/isomorphic-commonjs-jk/package.json
  src/__tests__/fixtures/isomorphic-commonjs-jk/server.mjs
  src/__tests__/fixtures/isomorphic-commonjs-jk/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs-jk/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs-jk/test.config.ts
  src/__tests__/fixtures/isomorphic-commonjs-jk/vite.config.mts
  src/__tests__/main.test.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: issue with cjs files being labeled as esm
  .changeset/tasty-elephants-appear.md
  src/babel-plugin-cjs-interop.ts
  src/index.ts
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue with cjs files being labeled as esm (#192)
  .changeset/tasty-elephants-appear.md
  src/babel-plugin-cjs-interop.ts
  src/index.ts
  src/resolve.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: support css modules
  .changeset/serious-zebras-tell.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: support css modules (#194)
  .changeset/serious-zebras-tell.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid basepath var script when unconfigured
  .changeset/ten-keys-live.md
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.mjs
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid basepath var script when unconfigured (#196)
  .changeset/ten-keys-live.md
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.mjs
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: update options.input in options hook
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Create strange-tomatoes-buy.md
  .changeset/strange-tomatoes-buy.md
Due: prettier --write

fix: update options.input in options hook (#197)
  .changeset/strange-tomatoes-buy.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ensure ssr css modules are not tree shaken
  .changeset/heavy-beers-brush.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ensure ssr css modules are not tree shaken (#199)
  .changeset/heavy-beers-brush.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve vitest cjs interop
  .changeset/lemon-papayas-brush.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: improve vitest cjs interop (#201)
  .changeset/lemon-papayas-brush.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: document visibility not removed in dev mode
  .changeset/eleven-jeans-matter.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: document visibility not removed in dev mode (#203)
  .changeset/eleven-jeans-matter.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: optimize preload/paintblocking scripts
  .changeset/cuddly-falcons-buy.md
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-ssr-asset/__snapshots__/build.expected.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: optimize preload/paintblocking scripts (#205)
  .changeset/cuddly-falcons-buy.md
  src/__tests__/fixtures/isomorphic-bundle-splitting/__snapshots__/dev.expected.md
  src/__tests__/fixtures/isomorphic-relative-asset-import/__snapshots__/build.expected.md
  src/__tests__/fixtures/isomorphic-ssr-asset/__snapshots__/build.expected.md
  src/render-assets-runtime.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ensure esbuild resolves .marko
  .changeset/sharp-mice-wink.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid processing virtual files with esbuild
  .changeset/bitter-dots-brush.md
  package-lock.json
  package.json
  src/esbuild-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: avoid processing virtual files with esbuild (#208)
  .changeset/bitter-dots-brush.md
  package-lock.json
  package.json
  src/esbuild-plugin.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: add vite 7 peer dep
  .changeset/fine-hounds-poke.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: bump node ci versions
  .github/workflows/ci.yml
Due: prettier --write
