Repository marko-js/vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f visualstudio --fix, prettier --write, fixpack

fix: dev server asset loading regression (#28)
  .changeset/unlucky-lizards-smoke.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ensure importer queries are stripped before passing to other plugins
  .changeset/odd-berries-trade.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: ensure importer queries are stripped before passing to other plugins (#30)
  .changeset/odd-berries-trade.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid using Vite's load api
  .changeset/little-rivers-jog.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid using Vite's load api (#32)
  .changeset/little-rivers-jog.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: switch to mutation style for vite config mutations
  .changeset/warm-guests-carry.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: switch to mutation style for vite config mutations (#34)
  .changeset/warm-guests-carry.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: update deps, support vite 4 peerDependency
  .changeset/tricky-avocados-hammer.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: update deps, support vite 4 peerDependency (#38)
  .changeset/tricky-avocados-hammer.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

feat: add store option for ssr-client state preservation
  src/index.ts
  src/store/file-store.ts
  src/store/index.ts
  src/store/memory-store.ts
  src/store/types.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: add test case
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/dev-server.js
  src/__tests__/fixtures/isomorphic-memory-store/server.js
  src/__tests__/fixtures/isomorphic-memory-store/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/index.js
  src/__tests__/fixtures/isomorphic-memory-store/src/template.marko
  src/__tests__/fixtures/isomorphic-memory-store/test.config.ts
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: update readme
  README.md
Due: prettier --write

fix: add store unit tests
  src/store/__tests__/file-store.test.ts
  src/store/__tests__/memory-store.test.ts
  src/store/file-store.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: remove non-supported entries option
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

Add changeset
  .changeset/dull-candles-brake.md
Due: prettier --write

feat: Add store option for linked mode builds (#40)
  .changeset/dull-candles-brake.md
  README.md
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-memory-store/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-memory-store/dev-server.js
  src/__tests__/fixtures/isomorphic-memory-store/server.js
  src/__tests__/fixtures/isomorphic-memory-store/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-memory-store/src/index.js
  src/__tests__/fixtures/isomorphic-memory-store/src/template.marko
  src/__tests__/fixtures/isomorphic-memory-store/test.config.ts
  src/__tests__/main.test.ts
  src/index.ts
  src/store/__tests__/file-store.test.ts
  src/store/__tests__/memory-store.test.ts
  src/store/file-store.ts
  src/store/index.ts
  src/store/memory-store.ts
  src/store/types.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issues with hmr
  .changeset/dull-seals-behave.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issue with new tags not discovered during hmr
  .changeset/shaggy-llamas-drive.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: issues with hmr (#42)
  .changeset/dull-seals-behave.md
  .changeset/shaggy-llamas-drive.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: windows paths
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/dev-server.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/server.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/index.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/template.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: more problems, add changeset
  .changeset/strange-shoes-design.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: typo
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: windows paths (#44)
  .changeset/strange-shoes-design.md
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-circular-entry-file/dev-server.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/server.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/index.js
  src/__tests__/fixtures/isomorphic-circular-entry-file/src/template.marko
  src/__tests__/fixtures/isomorphic-circular-entry-file/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid using variable in template
  .changeset/stale-years-stare.md
  src/components/vite.marko
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: avoid using variable in template (#46)
  .changeset/stale-years-stare.md
  src/components/vite.marko
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: amazing esbuild/tsx/playwright fix
  .mocharc.json
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: cjs imports from marko files in dev
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/dev-server.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/common/html-attributes/index.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/component-browser.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/index.marko
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/marko-tag.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/marko.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/test-button.browser.json
  src/__tests__/fixtures/isomorphic-commonjs/package.json
  src/__tests__/fixtures/isomorphic-commonjs/server.js
  src/__tests__/fixtures/isomorphic-commonjs/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-commonjs/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-commonjs/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-commonjs/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: re-export named exports
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/index.marko
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: windows
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: amazing esbuild/tsx/playwright fix (#48)
  .mocharc.json
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write

feat: support dynamic runtime baseurl
  .changeset/sixty-squids-rush.md
  README.md
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/server.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/logo.svg
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/index.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/template.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/test.config.ts
  src/components/vite.marko
  src/index.ts
  src/manifest-generator.ts
  src/serializer.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: sanitize asset hash in test
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/class-component.marko
Due: none

feat: support dynamic runtime baseurl (#51)
  .changeset/sixty-squids-rush.md
  README.md
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-runtime-base-path/dev-server.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/server.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/components/logo.svg
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/index.js
  src/__tests__/fixtures/isomorphic-runtime-base-path/src/template.marko
  src/__tests__/fixtures/isomorphic-runtime-base-path/test.config.ts
  src/components/vite.marko
  src/index.ts
  src/manifest-generator.ts
  src/serializer.ts
  src/server-entry-template.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: update snapshot
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.step-0.0.html
Due: none

fix: resolving assets from virtual files
  .changeset/grumpy-books-add.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

fix: resolving assets from virtual files (#54)
  .changeset/grumpy-books-add.md
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: add changeset
  .changeset/olive-panthers-deliver.md
Due: prettier --write

fix: cjs imports from marko files in dev (#50)
  .changeset/olive-panthers-deliver.md
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/build.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.0.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.loading.1.html
  src/__tests__/fixtures/isomorphic-commonjs/__snapshots__/dev.expected.step-0.0.html
  src/__tests__/fixtures/isomorphic-commonjs/dev-server.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/common/html-attributes/index.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/component-browser.js
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/index.marko
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/components/test-button/marko-tag.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/marko.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/package.json
  src/__tests__/fixtures/isomorphic-commonjs/node_modules/test-package/test-button.browser.json
  src/__tests__/fixtures/isomorphic-commonjs/package.json
  src/__tests__/fixtures/isomorphic-commonjs/server.js
  src/__tests__/fixtures/isomorphic-commonjs/src/components/class-component.marko
  src/__tests__/fixtures/isomorphic-commonjs/src/components/implicit-component.marko
  src/__tests__/fixtures/isomorphic-commonjs/src/components/layout-component.marko
  src/__tests__/fixtures/isomorphic-commonjs/src/index.js
  src/__tests__/fixtures/isomorphic-commonjs/src/template.marko
  src/__tests__/fixtures/isomorphic-commonjs/test.config.ts
  src/index.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

fix: allow modulepreloads to have asset base
  src/serializer.ts
Due: eslint -f visualstudio --fix, prettier --write

chore: update mocha-snap
  package-lock.json
  package.json
  src/__tests__/main.test.ts
Due: eslint -f visualstudio --fix, prettier --write, fixpack

Path conditions:
  eslint -f visualstudio --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
